params.outdir = "/home/frederickjaya/Dropbox/gtdb/02_working/2305_nested_aquificota"
params.loci = "/home/frederickjaya/Dropbox/gtdb/01_data/gtdb_r207_full_concat/*"
params.taxa_list = "$baseDir/../data/nested_aquificota/*"
params.n_training_loci = 100

trace { enabled = true }
report { enabled = true }
timeline { enabled = true }
