params {
    outdir		= "$PWD"
    loci 		= "$baseDir/../data/alignments/full_loci/*"
    taxa_list		= null
    n_training_loci	= 100
    constraint_trees	= false
    n_threads 		= 8
    executor		= 'local'
}

process {
    cpus = 1
    memory = '4 GB'

    withLabel: iqtree_local {
        executor = 'local'
    	cpus = "${params.n_threads}"
    }

    withLabel: iqtree_slurm { 
	executor = 'slurm'
    	cpus = "${params.n_threads}"
        memory = { 8.GB * task.attempt }
        errorStrategy = { task.exitStatus == 1 ? 'retry' : 'terminate' }
    }
}
	
trace { enabled = true }
report { enabled = true }
timeline { enabled = true }
